In [1]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=list('bde'),
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -0.545742  0.931174  0.381472
台中  0.156820 -0.176209  2.255223
台南  0.509928 -0.334514 -0.131098
高雄 -1.819493  0.861252 -0.830107

In [2]:
#dataFame的實體方法
frame.abs()

           b         d         e
台北  0.545742  0.931174  0.381472
台中  0.156820  0.176209  2.255223
台南  0.509928  0.334514  0.131098
高雄  1.819493  0.861252  0.830107

In [3]:
#使用numpy function
np.abs(frame)

           b         d         e
台北  0.545742  0.931174  0.381472
台中  0.156820  0.176209  2.255223
台南  0.509928  0.334514  0.131098
高雄  1.819493  0.861252  0.830107

In [4]:
frame

           b         d         e
台北 -0.545742  0.931174  0.381472
台中  0.156820 -0.176209  2.255223
台南  0.509928 -0.334514 -0.131098
高雄 -1.819493  0.861252 -0.830107

In [5]:
frame['b'].max() - frame['b'].min()

np.float64(2.3294207300116927)

In [6]:
def abc(s):
    return s.max() - s.min()

frame.apply(abc)

b    2.329421
d    1.265688
e    3.085330
dtype: float64

In [7]:
frame.apply(abc,axis=1)

台北    1.476916
台中    2.431433
台南    0.844442
高雄    2.680745
dtype: float64