In [2]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1    2.171658
   2   -1.020944
   3   -0.557764
b  1    1.800891
   2   -1.996627
c  3   -0.126811
   1   -1.730716
d  2    1.570545
   3   -0.267438
dtype: float64

In [3]:
df1 = data.unstack()
df1

          1         2         3
a  2.171658 -1.020944 -0.557764
b  1.800891 -1.996627       NaN
c -1.730716       NaN -0.126811
d       NaN  1.570545 -0.267438

In [4]:
df1.stack()

a  1    2.171658
   2   -1.020944
   3   -0.557764
b  1    1.800891
   2   -1.996627
c  1   -1.730716
   3   -0.126811
d  2    1.570545
   3   -0.267438
dtype: float64