In [4]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.608506  0.345598
1    a  two -1.321460  0.527937
2    b  one -1.641822  0.169120
3    b  two  0.665360  0.801140
4    a  one -1.450028 -1.115430

In [5]:
s_gb = df['data1'].groupby(by=df['key1'])
len(s_gb)
s_gb.sum()

key1
a   -3.379994
b   -0.976462
Name: data1, dtype: float64

In [6]:
s_gb1 = df['data1'].groupby(by=[df['key1'],df['key2']])
len(s_gb1)
s2d = s_gb1.sum()
s2d.unstack()

key2       one      two
key1
a    -2.058534 -1.32146
b    -1.641822  0.66536

In [7]:
#Dataframe.groupby()
d_gb = df.groupby(by='key1')
d_gb['data1'].sum()

key1
a   -3.379994
b   -0.976462
Name: data1, dtype: float64

In [8]:
#Dataframe.groupby()
s2d1 = df.groupby(by=['key1','key2'])['data1'].sum()
s2d1.unstack()

key2       one      two
key1
a    -2.058534 -1.32146
b    -1.641822  0.66536